@{
    var pageList = new Dictionary<dynamic, dynamic>() 
    {
        {"Кубик", "1box"},
        {"page2", "link2"}
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SamovarProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SamovarProject.styles.css" asp-append-version="true" />
    @ViewData["Links"]
    <script src="~/js/aframe.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
</head>
<body>
    
    <div class="mainContainer">
        <div class="toolbar">
            <div class="brand">
                SamovarЫ
            </div>
            <div class="pages">
                @foreach(var i in pageList.Keys)
                {
                    <a class="pageLink" href="@pageList[i]">
                        <div class="pageLink">@i </div>
                    </a>
                }               
            </div>
        </div>
        <div class="renderBody">
            <main role="main" class="pb-3">
                <div class="codeResult">
                    @RenderBody()
                </div>
                <div class="code">
                    @ViewData["code"]
                </div>
            </main>
        </div>
        
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>